.mymodal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
  height: auto;
  
  border: 1px solid rgb(0, 0, 0);
  background: rgb(255, 255, 255);
  overflow: auto;
  border-radius: 4px;
  outline: none;
  padding: 20px;
}

.myoverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(3, 3, 3);
}

.ReactModal__Overlay {
  opacity: 0;
  transition: opacity 500ms ease-in-out;
}

.ReactModal__Overlay--after-open {
  opacity: 1;
}

.ReactModal__Overlay--before-close {
  opacity: 0;
}

.player-wrapper {
  position: relative;
  /* padding-top: 0%; 720 / 1280 = 0.5625 */
}

.react-player {
  position: relative;
  top: 0;
  left: 0;
}

.button-close{
  position: relative;
  bottom: 10px;
}
